USE [AlgorithmicTrading]

SELECT * FROM Portfolio.Portfolio
SELECT * FROM Portfolio.Portfolio_Security
SELECT * FROM Portfolio.[Security]
SELECT * FROM Portfolio.[User]

--DELETE FROM Portfolio.Portfolio
--DELETE FROM Portfolio.Portfolio_Security
--DELETE FROM Portfolio.[Security]
--DELETE FROM Portfolio.[User]