<div>
    <h1>Stock Charts</h1>
    <hr />
    <div>
        <form>
            <span>Search:</span>
            <input class="form-control" type="text" placeholder="Press Enter to Add" ng-change="OnInputChange()" ng-enter="OnEnterIfSelected()"
                   ng-model="selected" typeahead="symbol as symbol.Name + ' - ' + symbol.Symbol for symbol in symbols | limitTo: 5" autofocus>
        </form>
    </div>
    <spinner></spinner>
    <div ng-show="isStockListEmpty()">
        <hr />
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <td>
                        Market Data
                    </td>
                </tr>
                <tr>
                    <th>
                        Symbol
                    </th>
                    <th>
                        Open
                    </th>
                    <th>
                        Close
                    </th>
                    <th>
                        High
                    </th>
                    <th>
                        Low
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="s in stockList">
                    <td>
                        {{s.Symbol}}
                    </td>
                    <td>
                        {{s.Open}}
                    </td>
                    <td>
                        {{s.Close}}
                    </td>
                    <td>
                        {{s.High}}
                    </td>
                    <td>
                        {{s.Low}}
                    </td>
                    <td>
                        <button class="btn btn-danger btn-mini" ng-click="RemoveFromList($index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-hide="isStockListEmpty()">
        <hr />
        <p>Please search for a company to view its stock data.</p>
    </div>
    <div ng-show="stockList.length">
        <hr />
        <!--DotNet HighChart here-->
        <div id="container" style="height: 500px; min-width: 600px"></div>
    </div>
</div>

<script>
    $(function () {
        var seriesOptions = [],
            yAxisOptions = [],
            seriesCounter = 0,
            names = ['MSFT', 'AAPL', 'GOOG'],
            colors = Highcharts.getOptions().colors;

        $.each(names, function (i, name) {
            $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=' + name.toLowerCase() + '-c.json&callback=?', function (data) {
                seriesOptions[i] = {
                    name: name,
                    data: data
                };
                // As we're loading the data asynchronously, we don't know what order it will arrive. So
                // we keep a counter and create the chart when all the data is loaded.
                seriesCounter++;
                if (seriesCounter == names.length) {
                    createChart();
                }
            });
        });

        // create the chart when all data is loaded
        function createChart() {
            $('#container').highcharts('StockChart', {
                chart: {
                },
                rangeSelector: {
                    selected: 4
                },
                yAxis: {
                    labels: {
                        formatter: function () {
                            return (this.value > 0 ? '+' : '') + this.value + '%';
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                },
                plotOptions: {
                    series: {
                        compare: 'percent'
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                    valueDecimals: 2
                },
                series: seriesOptions
            });
        }
    });
</script>
