<h1>Option Tables</h1>
<p>All prices are in USD</p>
<hr />
<div ng-controller="OptionController">
    <div>
        <form>
            <input type="hidden" name="symbol" value='{{selected.Symbol}}' />
            <label>Search:</label>
            <input class="form-control" type="text" placeholder="Press enter to select a company - see option table below"
                   ng-change="OnInputChange()" ng-model="selected" ng-enter="SelectSymbol()"
                   typeahead="symbol as symbol.Name + ' - ' + symbol.Symbol for symbol in symbols | limitTo: 5" autofocus />
        </form>
    </div>
    <hr />
    <circle></circle>
    @*<div>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        Symbol
                    </th>
                    <th>
                        Strike
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="option in options | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td>
                        {{option.Symbol}}
                    </td>
                    <td>
                        {{option.StrikePrice}}
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div>
            <button class="pager" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">
                Previous
            </button>
            {{currentPage + 1}}/{{numberOfPages()}}
            <button ng-disabled="currentPage >= options.length/pageSize - 1" ng-click="currentPage = currentPage + 1">
                Next
            </button>
        </div>
    </div>*@
    <div>
        <div>
            <table class="table table-striped table-responsive" style="overflow: auto">
                <thead>
                    <tr>
                        <th>
                            Symbol
                        </th>
                        <th>
                            Strike
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="option in options">
                        <td>
                            {{option.Symbol}}
                        </td>
                        <td>
                            {{option.StrikePrice}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>