<h1>Option Tables</h1>
<p>All prices are in USD</p>
<hr />
<div ng-controller="OptionController">
    <div>
        <form>
            <input type="hidden" name="symbol" value='{{selected.Symbol}}' />
            <label>Search:</label>
            <input class="form-control" type="text" placeholder="Press enter to select a company - see option table below"
                   ng-change="OnInputChange()" ng-model="selected" ng-enter="SelectSymbol()"
                   typeahead="symbol as symbol.Name + ' - ' + symbol.Symbol for symbol in symbols | limitTo: 5" autofocus />
        </form>
    </div>
    <hr />
    <circle></circle>
    <div>
        <div>
            <strong>Filter:</strong></string><input class="form-control smallWidth" type="text" ng-model="filterOptions.filterText" placeholder="Type here to filter grid" />
        </div>
        <br />
        <div class="optionGrid" ng-grid="gridOptions"></div>
    </div>
</div>