<h1>Option Tables</h1>
<p>All prices are in USD</p>
<hr />
<div class="ng-cloak" ng-controller="OptionController">
    <div>
        <form>
            <input type="hidden" name="symbol" value='{{selected.Symbol}}' />
            <h4>Search:</h4>
            <input class="form-control" type="text" placeholder="Press enter to select a company - see option table below"
                   ng-change="OnInputChange()" ng-model="selected" ng-enter="SelectSymbol()"
                   typeahead="symbol as symbol.Name + ' - ' + symbol.Symbol for symbol in symbols | limitTo: 5" autofocus />
        </form>
    </div>
    <circle></circle>
    <div ng-show="gridDataAvailable()">
        <div class="show-hide-animation">
            <hr />
            <h4>Watch List:</h4>
            <div>
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>
                                Symbol
                            </th>
                            <th>
                                Volatility
                            </th>
                            <td>
                                Date Range
                            </td>
                            <th>
                                View
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="page-change" ng-repeat="option in options">
                            <td>
                                {{option.symbol}}
                            </td>
                            <td>
                                {{option.data[0].Volatility}}
                            </td>
                            <td>
                                <span>
                                    TODO: Date range for volatility.
                                </span>
                            </td>
                            <td>
                                <input id="{{option.symbol}} + 'id'" type="radio" ng-model="btnRadioData.selectedOption" value="{{option.symbol}}" ng-change="viewOptionData(option.symbol)" />
                                <label for="{{option.symbol}} + 'id'"><span></span></label>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="RemoveFromList($index, option.symbol)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="show-hide-animation" ng-show="viewSelected()">
            <hr />
            <h4>Filters:</h4>
            <div>
                <h5>In the money?  <input type="checkbox" ng-model="inTheMoney" ng-change="filterByInTheMoney()" /></h5>
            </div>
            <hr />
            <div class="optionGrid" ng-grid="gridOptions"></div>
            <footer>
                <h5>
                    *DTE - Days to expiry.
                </h5>
            </footer>
        </div>
    </div>
</div>