<!--Hidden JSON result-->
<input type="hidden" value="{{optionData}}" />

<h1>Option Analysis</h1>
<hr />
<div>
    <form>
        <span>Search:</span>
        <input class="form-control" type="text" placeholder="Press Enter to Add"
               ng-change="OnInputChange()" ng-enter="SelectSymbol()" ng-model="selected"
               typeahead="symbol as symbol.Name + ' - ' + symbol.Symbol for symbol in symbols | limitTo: 5" autofocus />
    </form>
</div>
<circle></circle>
<div ng-controller="OptionGridController">
    <hr />
    <div class="grid-style" ng-grid="optionGrid"></div>
</div>
<div ng-hide="hasOptionData()">
    <hr />
    <p>Please search for a company to view its option table.</p>
</div>
