<h1>Option Tables</h1>
<p>All prices are in USD</p>
<hr />
<div ng-controller="OptionController">
    <div>
        <form>
            <input type="hidden" name="symbol" value='{{selected.Symbol}}' />
            <label>Search:</label>
            <input class="form-control" type="text" placeholder="Press enter to select a company - see option table below"
                   ng-change="OnInputChange()" ng-model="selected" ng-enter="SelectSymbol()"
                   typeahead="symbol as symbol.Name + ' - ' + symbol.Symbol for symbol in symbols | limitTo: 5" autofocus />
        </form>
    </div>
    <circle></circle>
    <div>
        <div class="show-hide-animation" ng-show="isVolatilityPopulated()">
            <hr />
            <h4>Company Data Summary:</h4>
            <h5>Volatility: {{volatility}}</h5>
        </div>
        <hr />
        <div class="show-hide-animation" ng-show="gridDataAvailable()">
            <h4>Filters:</h4>
            @*<input class="form-control optionGridFilter" type="text" ng-model="filterOptions.filterText" placeholder="displayName: searchString / global filter" />*@
            <div>
                <h5>In the money?  <input type="checkbox" ng-model="inTheMoney" ng-change="filterByInTheMoney()" /></h5>
            </div>
            <hr />
        </div>
        <div class="optionGrid" ng-grid="gridOptions"></div>
        <footer>
            <p>
                *DTE - Days to expiry.
            </p>
        </footer>
    </div>
</div>