<h1>Historical Stock Data</h1>
<hr />
<div ng-controller="StockController">
    <div>
        <form>
            <h4>Search:</h4>
            <input class="form-control" type="text" placeholder="Search for a company to view its stock data. (Press Enter to Select)" ng-change="OnInputChange()" ng-enter="SelectSymbol()"
                   ng-model="selected" typeahead="symbol as symbol.Name + ' - ' + symbol.Symbol for symbol in symbols | limitTo: 5" autofocus>
        </form>
    </div>
    <div ng-show="isStockListEmpty()">
        <hr />
        <p>
            The data here is from US Exchanges (via Yahoo Finance API). All prices are represented in USD.
        </p>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <td>
                        Market Data (Information from Last Market Close)
                    </td>
                </tr>
                <tr>
                    <th>
                        Company
                    </th>
                    <th>
                        Symbol
                    </th>
                    <th>
                        Open
                    </th>
                    <th>
                        Close
                    </th>
                    <th>
                        High
                    </th>
                    <th>
                        Low
                    </th>
                    <th>
                        Graph
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="page-change" ng-repeat="s in stockList">
                    <td>
                        {{companyName(s.Symbol)}}
                    </td>
                    <td>
                        {{s.Symbol}}
                    </td>
                    <td>
                        {{s.Open}}
                    </td>
                    <td>
                        {{s.Close}}
                    </td>
                    <td>
                        {{s.High}}
                    </td>
                    <td>
                        {{s.Low}}
                    </td>
                    <td>
                        <input type="checkbox" ng-model="s.checked" ng-change="updateChart(s.Symbol, s.checked)" />
                    </td>
                    <td>
                        <button class="btn btn-danger btn-xs" ng-click="RemoveFromList($index, s.Symbol)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="show-hide-animation">
        <div id="container">
        </div>
    </div>
</div>