<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AlgorithmicTradingEntities" connectionString="metadata=res://*/EntityFramework.AlgotradingDataModel.csdl|res://*/EntityFramework.AlgotradingDataModel.ssdl|res://*/EntityFramework.AlgotradingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AlgorithmicTrading;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>