<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="1.1.10" targetFramework="net451" />
  <package id="MathNet.Numerics" version="2.6.2" targetFramework="net451" />
  <package id="MathNet.Numerics.FSharp" version="2.6.0" targetFramework="net451" />
  <package id="MathNet.Numerics.FSharp.Sample" version="2.6.0" targetFramework="net451" />
</packages>