<div>
    <h2>About</h2>
    <hr />
    <div>
        <p>
            This site is designed to showcase how modern web development technologies
            can be used to provide a more immersive user experience when browsing
            financial data.
        </p>
    </div>
</div>