@{
    Layout = null;
}

<div>
    <h2>About</h2>
    <hr />
    <div>
        <p>
            This API is designed to showcase how modern web development technologies
            can be used to provide a more immersive user experience when browsing
            financial data. Most financial API's lack well sculpted interfaces and
            so make the data seem more complex to the passers-by.
        </p>
    </div>
</div>