<div>
    <div id="loginPanel">
        <section id="localLoginPanel">
            <h2>Log in</h2>
            @Html.Partial("_Login")
        </section>
        <p>First time here? <a id="showRegister">Sign up</a></p>
    </div>
</div>
