<div class="jumbotron">
    <h1>CS50 Plc Inc.</h1>
    <p>
        This is a demo application designed to showcase how web technologies can help to present complex information in a digestable format. Inspired in part by <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x">CS50</a>
        edX Course.
    </p>
</div>

<div class="row">
    <h2>Key Techs:</h2>
    <div>
        <h3>AngularJS</h3>
        <p>
            An extensive open-source Web Application client side framework based in JavaScript. Primary used in this site to enchance the user interface and coordination between the server and client side.
            The animations, navigation and vast majority of the graphics seen within this application and using AngularJS to enhance the look and/or feel or the interface.
        </p>
        <p><a class="btn btn-primary" href="https://angularjs.org/">See Site &raquo;</a></p>
    </div>
    <div>
        <h3>ASP.NET MVC</h3>
        <p>A Microsoft framework for developing Web Applications. Note MVC is a popular design pattern in the industry in general and also matches the MVC design that AngularJS steers towards.</p>
        <p><a class="btn btn-success" href="http://www.asp.net/mvc">See See &raquo;</a></p>
    </div>
    <div>
        <h3>F#</h3>
        <p>
            A functional language that is open source and heavily developed on by Microsoft as part of the .NET Framework.
            It is a relative new comer to most languages but offers the best of previous functional languages as well as the capability for object oriented approaches if so desired.
            This application uses the language to pull data from the internet and parse it into use data structures i.e. arrays & lists.
        </p>
        <p><a class="btn btn-danger" href="http://fsharp.org/">See Site &raquo;</a></p>
    </div>
    <div>
        <h3>C#</h3>
        <p>
            An object-oriented language created by Microsoft. That is a mainstream language in todays industries and is not dissimilar to C, though much more easily practised due to the tooling available and the number of libraries available for use.
            The server-side code for the application is based primary in C#, where the HTTP requests/responses are controlled.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/C_Sharp_%28programming_language%29">See Wiki &raquo;</a></p>
    </div>
</div>