<div class="jumbotron">
    <h1>S.E. Plc.</h1>
    <p>This is a Sivaguru Enterprises experimental algorithmic trading API.</p>
</div>

<div class="row home">
    <div>
        <h2>Algorithm?</h2>
        <p>A process or set of rules to be followed in calculations or other problem-solving operations, esp. by a computer.</p>
        <p><a class="btn btn-primary" href="http://en.wikipedia.org/wiki/Algorithm">See Wiki &raquo;</a></p>
    </div>
    <div>
        <h2>+ Trading?</h2>
        <p>A stock trader or a stock investor is an individual or firm who buys and sells stocks or bonds (and possibly other financial assets) in...</p>
        <p><a class="btn btn-success" href="http://en.wikipedia.org/wiki/CompanyStock_trader">See Wiki &raquo;</a></p>
    </div>
    <div>
        <h2>= Algo Trading</h2>
        <p>Algorithmic trading, also called automated trading, black-box trading, or algo trading, is the use of electronic platforms for entering trading orders with an algorithm which executes pre-programmed trading instructions whose variables may include timing, price, or quantity of the order, or in many cases initiating the order without human intervention.</p>
        <p><a class="btn btn-danger" href="http://en.wikipedia.org/wiki/Algorithmic_trading">See Wiki &raquo;</a></p>
    </div>
</div>