@using AlgoTrader.Portfolio
<div class="navbar navbar-inverse navbar-fixed-top">
    <toaster-container></toaster-container>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AlgoTrader</a>
        </div>
        <div class="navbar-collapse collapse" ng-controller="NavigationController">
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-class="{'active':getClass('/Main')}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Main <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-class="{'active':getClass('/Home')}"><a href="/#/Home">Home</a></li>
                        <li ng-class="{'active':getClass('/About')}"><a href="/#/About">About</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active':getClass('/Portfolio')}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-class="{'active':getClass('/Stocks')}"><a href="/#/Stocks">Historical Stock Data</a></li>
                        <li ng-class="{'active':getClass('/Options')}"><a href="/#/Options">Option Tables</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active':getClass('/Sample')}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sample <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-class="{'active':getClass('/Sample')}"><a href="/#/Sample">Angular 2 Sample Page</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content overlay">
    <div class="page-change" ng-view></div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Sivaguru Enterprises LTD. - THIS SITE IS FOR DEMO PURPOSES ONLY.</p>
    </footer>
</div>