@model Portfolio.Models.LoginModel

@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<h2>Log in</h2>
<hr />
<form ng-submit="login()" ng-controller="LoginController" novalidate>
    <input id="antiForgeryToken" ng-model="antiForgeryToken" type="hidden" ng-init='antiForgeryToken="@GetAntiForgeryToken()"' />
    <div>
        <h4>Username:</h4>
        <input type="text" name="UserName" ng-model="registerModel.UserName" class="form-control" />
    </div>
    <div>
        <h4>Password:</h4>
        <input type="password" name="Password" ng-model="registerModel.Password" class="form-control" />
    </div>
    <br />
    <div>
        <input type="submit" value="Log in" class="btn btn-primary" />
    </div>
    <br />
</form>
<p>First time here? <a href="/#/Register">Sign up</a></p>