@using Portfolio
@model Portfolio.Models.LoginModel

<h2>Log in</h2>
<hr />
<form name="loginForm" ng-submit="login()" ng-controller="LoginController" novalidate>
    <input id="antiForgeryToken" ng-model="antiForgeryToken" type="hidden" ng-init='antiForgeryToken="@Extensions.GetAntiForgeryToken()"' />
    <div>
        <h4>Username:</h4>
        <input type="text" name="UserName" ng-model="loginModel.UserName" class="form-control" autofocus/>
    </div>
    <div>
        <h4>Password:</h4>
        <input type="password" name="Password" ng-model="loginModel.Password" class="form-control" />
    </div>
    <br />
    <div>
        <input type="submit" value="Log in" class="btn btn-primary" />
    </div>
    <br />
</form>
<p>First time here? <a href="/#/Register">Sign up</a></p>