<div>
    <label>This is an Angular 2 component</label>
    <my-app></my-app>
</div>
<hr />
<div>
    <label>This is an Angular 1 component in running in Angular 2</label>
    @*TODO*@
</div>
<div>
    <label>This is an Angular 2 component in running in Angular 1</label>
    @*TODO*@
    <my-app></my-app>
</div>