<!DOCTYPE html>
<html ng-app="AlgoTrader">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <meta name="description" content="S.E. Enterprises algorithmic trading API." />
    </head>
    <body>
        @RenderBody()
    </body>
</html>