body {
    background-color: black;
    background-image: url(Images/2_billion_gold_price_bet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

footer {
    color: whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron {
    max-height: 180px;
    background-color: transparent;
    color: whitesmoke;
}

.home {
    color: antiquewhite;
}

.navbar-inverse {
    background-image: repeating-linear-gradient(-0deg, rgb(255,255,255) 90%, black 60%);
}

.overlay {
    position: inherit;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.60);
    margin-top: 60px;
}

.nav, .pagination, .carousel a {
    cursor: pointer;
}

#ng-view {
  position:relative;
}

/* Animations */
.slide-animation.ng-enter, .slide-animation.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  min-height:1000px;
}

.slide-animation.ng-enter {
  left:100px;
}

.slide-animation.ng-enter.ng-enter-active {
  left:0;
}

.slide-animation.ng-leave {
  left:0;
}

.slide-animation.ng-leave.ng-leave-active {
  left:-100px;
}