body {
    background-color: black;
    background-image: url(Images/2_billion_gold_price_bet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    color: whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron {
    max-height: 180px;
    background-color: transparent;
    color: whitesmoke;
}

.home {
    color: antiquewhite;
}

.navbar-inverse {
    background-image: repeating-linear-gradient(-0deg, rgb(255,255,255) 90%, black 60%);
}

.overlay {
    position: inherit;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.60);
    margin-top: 60px;
}